@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
*::-webkit-scrollbar {
    width: 17px;
    height: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: black;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(26, 26, 26);
    border-radius: 14px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(45, 45, 45);
  }
